@font-face{
  font-family: "Avenir Next";
  src: url('../fonts/AvenirNext-Regular.otf') format('opentype');
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
         url('../fonts/Avenir_Next.ttf') format('truetype'),
         url('../fonts/AvenirNext-Regular.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
